{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">

        {% block navbar %}
            {% include 'navbar.html.twig' %}
        {% endblock %}

        {% block content %}{% endblock %}

    </div>
    <!-- /#wrapper -->


{% endblock %}

